{% extends 'Zot_template.html' %}

{% block content %}
<div class="container">
  <div class="left-side">
      <h2>All Contacts</h2>
      <form id="contactForm" action="/chat" method="post">
        <ul>
          <li><input type="radio" name="chat_friend" value="Frank" onclick="submitForm()"> Frank</li>
          <li><input type="radio" name="chat_friend" value="sbHammer" onclick="submitForm()"> sbHammer</li>
          <li><input type="radio" name="chat_friend" value="No mercy" onclick="submitForm()"> No mercy</li>
          <p>----</p>
          {% for contact in contacts %}
            <li><input type="radio" name="chat_friend" value="{{ contact }}" onclick="submitForm()">{{ contact }}</li>
          {% endfor %}
        </ul>
      </form>
  </div>
  <div class="right-side">
      <h2>Chat History</h2>
      <div class="messages">
        <ul>
          {% for content in history %}
            {{ content }}
            <br>
          {% endfor %}
        </ul>
      </div>
      <div class="send-click">
        <form id="messageForm" action="/chat" method="post" onsubmit="return checkEmpty()">
          <input type="hidden" name="chat_friend" id="chat_friend_input" value="{{ selected_radio }}">
          <input type="text" id="message_input" name='send_message' placeholder="Please type message here" required>
          <button type="submit">Send</button>
        </form>
      </div>
  </div>
</div>



{% endblock %}
