{% extends 'Zot_template.html' %}

{% block content %}
<div class="container">
  <div class="left-side">
      <h2>All Contacts</h2>
      <form action="#">
        <ul>
          <input type="radio" name="chat_friend" value="Frank"> Frank
          <br>
          <input type="radio" name="chat_friend" value="sbHammer"> sbHammer
          <br>
          <input type="radio" name="chat_friend" value="No mercy"> No mercy
          <p>----</p>
          {% for contact in contacts %}
              <input type="radio" name="chat_friend" value="{{ contact }}">{{ contact }}
              <br>
          {% endfor %}
        </ul>
      </form>
  </div>
  <div class="right-side">
      <h2>Chat History</h2>
      <div class="messages">
        user.username
      </div>
      <div class="send-click">
        <input type="text" placeholder="Please type message here">
        <button type="submit">Send</button>
      </div>
  </div>
</div>
{% endblock %}

