<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZotForum</title>
    <link rel="stylesheet" href="..\static/css/test.css">
</head>
<body>
    <!--HEADER-->
    <header>
        <!--LOGO-->
        <img src="..\static/picture/logo.png" alt="UCI" class="logo">
        <!--Navi Bar-->
        <nav>
            <a href="\">home</a>
            <a href="#">Forum</a>
            <a href="\chat">Inbox</a>
            <a href="\chat">About Us</a>
        </nav>
        <!--CONFIG-->
        <div>
            <a herf="#">Settings</a>
            <a herf="#">Log Out</a>
            <a herf="#">Create Post</a>
        </div>
    </header>

</body>
</html>